.container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter',Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal; 
  }
  
  .paragraph {
    align-items: center;
    padding: 211px;
    padding-left: 25%;
    padding-right:20%;
    padding-top: 1%;
    font-weight: normal;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .heading{
    text-align: center;
    font-weight: normal;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
  }
  

  .image{
    height: 100%;
  }
  
  
  
  
  
  
  
  